PORT=<PORT_NUMBER>
JWT_SECRET=<RANDOM_HEX_STRING>
APP_DEBUG=false
DATABASE_URL="postgresql://<db_user>:<db_pw>@localhost:5432/<db_name>?schema=public"
TEST_DATABASE_URL="postgresql://<db_user>:<db_pw>@localhost:5432/<test_db_name>?schema=public"
